<p-card class="w-full">
  <ng-template #title>
    <div class="flex justify-between items-center">
      <h3>League Controls</h3>
      <h3>Week {{ currentWeek$ | async }}/{{ totalWeeks }}</h3>
    </div>
    <p class="text-sm font-extralight">
      The following buttons will allow you to control the simulation.
    </p>
  </ng-template>

  <div class="flex flex-column gap-2 justify-between">
    <div class="gap-2 flex">
      <p-button
        label="Next Week"
        icon="pi pi-step-forward"
        [disabled]="isLeagueFinished"
        (onClick)="playNextWeek()"
      >
      </p-button>
      <p-button
        label="Play Entire League"
        icon="pi pi-fast-forward"
        [disabled]="isLeagueFinished"
        (onClick)="playEntireLeague()"
        styleClass=""
      >
      </p-button>
    </div>
    <p-button
      label="Reset League"
      icon="pi pi-refresh"
      (onClick)="onResetLeague()"
      styleClass="p-button-secondary"
    >
    </p-button>
  </div>
</p-card>
