<p-card header="Match History">
  <p-accordion value="0" [multiple]="true">
    @for (week of playedWeeks; track week.weekNumber){
    <p-accordion-panel [value]="week.weekNumber">
      <p-accordion-header>{{ "Week " + week.weekNumber }}</p-accordion-header>
      <p-accordion-content>
        <p-table [value]="week.matches" styleClass="p-datatable-sm">
          <ng-template pTemplate="body" let-match>
            <tr>
              <td
                colspan="3"
                [class.font-bold]="
                  match.played && match.homeGoals! > match.awayGoals!
                "
              >
                {{ match.homeTeam.name }}
              </td>
              <td class="text-center mx-auto" colspan="2">
                <span *ngIf="match.played"
                  >{{ match.homeGoals }} - {{ match.awayGoals }}</span
                >
                <span *ngIf="!match.played">vs</span>
              </td>
              <td
                colspan="3"
                [class.font-bold]="
                  match.played && match.homeGoals! < match.awayGoals!
                "
              >
                {{ match.awayTeam.name }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
    }
  </p-accordion>
</p-card>
