<p-table [value]="teams" styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th>Pos</th>
      <th>Team</th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>Pts</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team let-i="rowIndex">
    <tr [ngClass]="rowClass(team)">
      <td>{{ i + 1 }}</td>
      <td>{{ team.name }}</td>
      <td>{{ team.played }}</td>
      <td>{{ team.won }}</td>
      <td>{{ team.drawn }}</td>
      <td>{{ team.lost }}</td>
      <td>{{ team.goalsFor }}</td>
      <td>{{ team.goalsAgainst }}</td>
      <td>{{ team.goalDifference }}</td>
      <td>
        <strong>{{ team.points }}</strong>
      </td>
    </tr>
  </ng-template>
</p-table>
